
@media screen and (prefers-color-scheme: dark) {
    body {
      background-color: white;
      color: black;
    }
  }

  @media screen and (max-width: 798px) and (min-width: 590px){                 /* screen- moblie, lap,etc print- printers, speech- screen readers */
    
    
   }   

  /* ====image center=== */
 /* .fa-center{
    display:block;
    margin-left: auto ;
    margin-right: auto;
  }  */
 
 
  .cont_ser{
    max-width: 370px;
    min-width: 250px;
    margin-left: auto ;
    margin-right: auto;
  }
  .cont_ser_market{
    max-width: 370px;
    
    margin-left: auto ;
    margin-right: auto;
  }
  @media screen and (max-width: 798px) and (min-width: 590px){                 /* screen- moblie, lap,etc print- printers, speech- screen readers */
    .cont_ser_market{
      max-width:260px ;
    }
   }  

.iconbg{
    color:  #343a40;
}
.borderwdth{
    border: 5px solid;
    font: bolder;
}
.wrapped{
    display: flex;
    flex-wrap:wrap;
}
.twitterclr{
   color: #1DA1F2;
}
.tdeco{
    text-decoration: n;
}
.shadowed{
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.hov:hover {
    
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
   /* border: 1px solid #cccccc; 
    background-color: white;
    transition: all 0.2s ease-out; */
    
  }
 