*{
    margin: 0;
}
.iconbg{
    color:  #343a40;
}
.borderwdth{
    border: 5px solid;
    font: bolder;
}
.wrapped{
    display: flex;
    flex-wrap:wrap;
}
.twitterclr{
   color: #1DA1F2;
}
.tdeco{
    text-decoration: n;
}